* {
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face {
	font-family: 'Gotika Black';
	src: url('../fonts/typogotikablack.otf') format('opentype');
}

@font-face {
	font-family: 'Gotika Demo';
	src: url('../fonts/typogotikademo.otf') format('opentype');
}

@font-face {
  font-family: 'Gotika Italic';
  src: url('../fonts/typogotikaitalic.otf') format('opentype');
}

header {
    background-color: #eaeaea;
}

nav {
    color: #2e2e2e;
    border-bottom: solid 10px #ffffff;
    border-top: solid 10px #ffffff;
}

#navmenu {
    font-family: 'Gotika Black';
    list-style-type: none;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

.menu {
    text-shadow: 3px 2px rgba(0, 0, 0, .4);
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #bb5d5f;
    color: #ffffff;
}

.menu:hover {
    background-color: #8b3e40;
}

#logo {
    width: 100%;
}

#hairflip {
    width: 100%;
}

.socialmedia {
    width: 20%;
    padding-left: 3%;
    padding-right: 3%;
}

#social {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

main {
    width: 100%;
}

#banner {
    background-image: url('../img/hairflip.jpg');
}

.categories {
    width: 100%;
}

.category {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

h2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.59);
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-top: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
    letter-spacing: 3px;
}
