* {
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face {
	font-family: 'Gotika Black';
	src: url('../fonts/typogotikablack.otf') format('opentype');
}

@font-face {
	font-family: 'Gotika Demo';
	src: url('../fonts/typogotikademo.otf') format('opentype');
}

@font-face {
  font-family: 'Gotika Italic';
  src: url('../fonts/typogotikaitalic.otf') format('opentype');
}

header {
    background-color: #eaeaea;
}

nav {
    color: #2e2e2e;
    border-bottom: solid 10px #ffffff;
    border-top: solid 10px #ffffff;
}

#navmenu {
    font-family: 'Gotika Black';
    list-style-type: none;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

.menu {
    text-shadow: 3px 2px rgba(0, 0, 0, .4);
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #bb5d5f;
    color: #ffffff;
}

.menu:hover {
    background-color: #8b3e40;
}

#logo {
    width: 100%;
}

#hairflip {
    width: 100%;
}

#social {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

main {
    width: 100%;
    background-color: #ffffff;
}

#banner {
    background-image: url('../img/hairflip.jpg');
}

.categories {
    width: 100%;
}

.category {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

h2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.59);
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-top: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
    letter-spacing: 3px;
}

footer {
    background-color: #bb5d5f;
    text-align: left;
    padding-left: 10%;
    color: #ffffff;
    font-family: 'Gotika Demo';
    padding-top: 10%;
    margin-top: 15%;
}

.footerli {
    list-style-type: none;
    font-size: 1.1rem;
    padding-top: 1%;
}

#connect {
    padding-top: 10%;
    padding-bottom: 10%;
}

#contact {
    padding-top: 10%;
}

h3 {
    font-size: 1.4rem;
    letter-spacing: 3px;
    text-shadow: 3px 2px rgba(0, 0, 0, .4);
    padding-bottom: 5%;
}

.carousel {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* HOVER EFFECT */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

  width: 20%;
  padding-left: 3%;
  padding-right: 3%;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.promo {
    margin-top: 15%;
}

#wrapper, #banner {
    margin-top: 15%;
}

/* MEDIA QUERY 450PX*/
@media (min-width: 450px) {
    footer {
        padding-left: 15%;
    }

    h2 {
        margin-top: 25%;
    }
}

/* MEDIA QUERY 550PX*/
@media (min-width: 550px) {
    #logo {
        width: 60%;
        margin: auto;
        display: block;
    }

    #social {
        width: 70%;
        text-align: center;
        margin: auto;
    }

    .hvr-grow {
        padding-left: 5%;
        padding-right: 5%;
    }

    .carousel {
        height: 450px;
    }

    h2 {
        margin-top: 20%;
    }

    #connect {
        width: 70%;
    }

    #facebook {
        padding-left: 0;
    }

    footer {
        padding-left: 25%;
    }

    #servicename {
        padding-left: 12%;
    }
}

/* MEDIA QUERY 750PX*/
@media (min-width: 750px) {
    #logo {
        width: 50%;
    }

    #navmenu {
        font-size: 1.8rem;
    }

    .carousel {
        height: 650px;
    }

    #banner {
        margin-top: 1%;
    }

    #wrapper {
        margin-top: 1%;
    }

    footer {
        margin-top: 1%;
    }

    .category {
        margin-top: 1%;
        height: 400px;
    }

    .footerli {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 2rem;
    }
}

/* MEDIA QUERY 900PX*/
@media (min-width: 900px) {
    #logo {
        width: 40%;
    }

    .menu {
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .hvr-grow {
        width: 13%;
    }

    #social {
        padding-top: 7%;
        padding-bottom: 7%;
    }

    #banner {
        width: 70%;
        margin: auto;
        margin-top: 4%;
    }

    h2 {
        margin-top: 16%;
    }

    footer {
        padding-left: 30%;
    }
}

/* MEDIA QUERY 1000PX*/
@media (min-width: 1000px) {
    header {
        display: flex;
    }

    #navmenu {
        display: flex;
        padding-top: 14%;
        justify-content: space-between;
        margin-left: 5%;
        font-family: 'Gotika Demo';
    }

    #logo {
        width: 100%;
        padding-left: 5%;
        padding-top: 5%;
    }

    nav {
        border-top: none;
        border-bottom: none;
    }

    .menu {
        color: #2e2e2e;
        background-color: #eaeaea;
        text-shadow: none;
        flex: 1;
        padding-left: 10%;
        font-size: 1.5rem;
        padding-right: 10%;
        letter-spacing: 5px;
    }

    .menu:hover {
        color: #ffffff;
    }

    footer {
        display: flex;
        padding-left: 10%;
        padding-top: 5%;
        padding-bottom: 0;
    }

    #hours {
        padding-right: 7%;
    }

    #contact, #connect {
        padding-top: 0
    }

    #contact {
        padding-right: 5%;
    }

    #hours {
        display: flex;
        flex-direction: column;
    }

    .owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

    .carousel {
        max-width: 100%;
        height: 410px;

    }

    h2 {
        margin-top: 14%;
    }

    .hvr-grow {
        padding-left: 3%;
        padding-right: 3%;
    }

    #banner {
        width: 45%;
    }

    .footerli {
        font-size: 1.2rem;
        padding-top: 3%;
    }

    h3 {
        padding-bottom: 8%;
    }

    #facebook {
        padding-left: 12%;
    }
}

/* MEDIA QUERY 1250PX*/
@media (min-width: 1250px) {

    #navmenu {
        padding-top: 20%;
        margin-left: 9%;
    }

    #logo {
        padding-left: 10%;
    }

    #social {
        width: 65%;
    }

    footer {
        padding-top: 7%;
        justify-content: center;
    }

    #connect {
        padding-left: 7%;
        padding-bottom: 7%;
    }

    #contact {
        padding-left: 5%;
    }

    #hours {
        width: 26%;
    }

    #facebook {
        padding-left: 6%;
    }

    #banner {
        width: 40%;
        margin-bottom: 3%;
    }

    .carousel {
        height: 440px;
    }
}

/* MEDIA QUERY 1450PX*/
@media (min-width: 1450px) {
    #wrapper {
        display: flex;
        margin-bottom: 7%;
        margin-top: 6%;
    }

    h2 {
        flex: 1;
        width: 33.35%;
        position: absolute;
        margin-top: 10%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    footer {
        padding-top: 5%;
        padding-left: 14%;
    }

    #connect {
        padding-bottom: 5%;
    }

    #facebook {
        padding-left: 3%;
    }

    #navmenu {
        padding-top: 17%;
        margin-left: 2%;
    }

    .hvr-grow {
        width: 11%;
    }

    #social {
        width: 45%;
    }

    #logo {
        width: 75%;
    }

    .menu {
        padding-left: 25%;
        padding-right: 25%;
    }

    .carousel {
        height: 500px;
    }
}

/* MEDIA QUERY 1650PX*/
@media (min-width: 1650px) {
    #social {
        padding-top: 3%;
        padding-bottom: 5%;
    }

    #logo {
        width: 55%;
        padding-left: 7%;
    }

    .hvr-grow {
        padding-top: 0;
    }

    .carousel {
        height: 700px;
    }

    #facebook {
        padding-left: 2%;
    }

    h3 {
        padding-bottom: 6%;
    }

    #navmenu {
        padding-top: 15%;
    }

    #social {
        padding-top: 5%;
    }
}

/* MEDIA QUERY 1750PX*/
@media (min-width: 1750px) {
    footer {
        padding-top: 4%;
    }

    #connect {
        padding-bottom: 3%;
    }

    #facebook {
        padding-left: 1%;
    }

    .hvr-grow {
        width: 8%;
        padding-top: 0;
    }

    h3 {
        padding-bottom: 3%;
    }

    #social {
        padding-top: 1%;
        padding-bottom: 2%;
    }

    #logo {
        padding-bottom: 3%;
    }

    h2 {
        margin-top: 7%;
    }
}

/** SERVICES PAGE **/

#wrapper2 {
    background-image: url('../img/servicespage.jpg');
    object-fit: cover;
    padding-top: 20%;
    padding-bottom: 5%;
    padding-left: 10%;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
}

#servicename, #serviceprice {
    list-style-type: none;
    color: #ffffff;
    text-shadow: 3px 2px rgba(0, 0, 0, .4);
}

.italic {
    font-family: 'Gotika Italic';
    padding-bottom: 20%;
    width: 50%;
}

.name {
    font-weight: bold;
    padding-bottom: 3%;
    width: 50%;
    font-size: 1.5rem;
}

#serviceprice {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 0%;
    padding-right: 17%;
}

.price {
    padding-top: 65%;
}

.price2 {
    padding-top: 310%;
}

.price3 {
    padding-top: 300%;
}

.price4 {
    padding-top: 250%;
}

/* MEDIA QUERY 750PX*/
@media (min-width: 750px) {

    #wrapper2 {
        margin-top: 1%;
        padding-top: 13%;
    }

    #servicename {
        padding-left: 10%;
        width: 100%;
        font-size: 1.4rem;
    }

    #serviceprice {
        padding-right: 25%;
        font-size: 1.8rem;
    }
}
