* {
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face {
	font-family: 'Gotika Black';
	src: url('../fonts/typogotikablack.otf') format('opentype');
}

@font-face {
	font-family: 'Gotika Demo';
	src: url('../fonts/typogotikademo.otf') format('opentype');
}

@font-face {
  font-family: 'Gotika Italic';
  src: url('../fonts/typogotikaitalic.otf') format('opentype');
}

header {
    background-color: #eaeaea;
}

nav {
    background-color: #b5bec5;
    padding-top: 10%;
    padding-bottom: 10%;
    color: #ffffff;
}

ul {
    list-style-type: none;
    text-align: center;
}

#logo {
    width: 100%;
}
